<div class="container mb-2">
    <div class="row ">            
            <div class="row d-flex justify-content-center">
                
                {% for fltr in filters %}
                <div class="col ms-1">
                    
                    <div class="row justify-content-start   ">
                            
                            {{ fltr.sec_name }}
                        </div>
                            <form class="row " method="get" style="display: inline;">

                                <select  class="" name="filter" id="" onchange="this.form.submit()">
                                    
                                    {% for fl in fltr.filter_list %}
                                    <option  value="{{ fl }}">
                                        {{ fl }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                            </div>
                    {% endfor %}
                    
                </div>
            </div>
</div>